### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [141]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [142]:
#use len to count the number of elements in the list of SN
num_players = len(purchase_data.SN.unique())
num_players
player_count_dataframe= pd.DataFrame({"Number of Players":[num_players]})
player_count_dataframe

   Number of Players
0                576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [143]:
#calculation of items
unique_items = len((purchase_data["Item ID"]).unique())
average_price = round(purchase_data["Price"].mean(), 2)
num_purchases = (purchase_data["Purchase ID"]).count()
price_sum = round(purchase_data["Price"].sum(), 2)

#create dataframe table
summary_dataframe = pd.DataFrame({"Number of Unique Items":[unique_items],
                                  "Average Price":[average_price],
                                  "Number of Purchases": [num_purchases],
                                  "Total Revenue": [price_sum]})
summary_dataframe
#Add $ to the Revenue and price 
summary_dataframe.style.format({'Average Price':"${:,.2f}",
                               'Total Revenue':'${:,.2f}'})

In [163]:
real_gender_count=purchase_data[["SN","Gender"]].drop_duplicates()
real_gender_count

                SN  Gender
0          Lisim78    Male
1      Lisovynya38    Male
2       Ithergue48    Male
3    Chamassasya86    Male
4        Iskosia90    Male
..             ...     ...
773         Hala31    Male
774     Jiskjask80    Male
775     Aethedru70  Female
777     Yathecal72    Male
778        Sisur91    Male

[576 rows x 2 columns]

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [182]:
gender_count = real_gender_count['Gender'].value_counts()
gender_perc = gender_count / num_players * 100
gender_count

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [183]:
gender_df = pd.DataFrame({"Total Count": gender_count,
                          "Gender Percentage": gender_perc})
gender_df.index.rename('Gender', inplace=True)

In [184]:
gender_df.sort_values(["Total Count"], ascending=False).style.format({"Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [185]:
purchase_count = purchase_data.groupby('Gender').count()['Purchase ID']
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [186]:
avg_purchase_price = purchase_data.groupby('Gender').sum()['Price']/ purchase_count
avg_purchase_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
dtype: float64

In [187]:
purchase_value_gender = purchase_data.groupby('Gender').sum()['Price']
purchase_value_gender

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [190]:
Totals_per_person= purchase_value_gender/gender_count
Totals_per_person

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [191]:
summary_purchasing_table = pd.DataFrame ({"Purchase Count": purchase_count,
                                          "Average Purchase Price": avg_purchase_price,
                                          "Average Purchase Value": purchase_value_gender,
                                          "Avg Purchase Total Per Person": Totals_per_person})
summary_purchasing_table

summary_purchasing_table.index.rename('Gender', inplace=True)


summary_purchasing_table.style.format({"Average Purchase Price":"${:,.2f}",
                                       "Average Purchase Value":"${:,.2f}",
                                       "Average Purchase Total Per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [172]:
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age bin
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,>40
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [173]:
age_bins=[0,9.99,14.99,19.99,24.99,29.99,34.99,39.99,9999]
group_names = ["<10","10-14","15-19", "20-24","25-29","30-34","35-39",">40"]
group_names

['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '>40']

In [174]:
purchase_data["Age bin"]=pd.cut(purchase_data["Age"],age_bins, labels=group_names)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age bin
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,>40
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [175]:
#calculate the number and percent by age bin
age_group = purchase_data.groupby("Age bin")

In [198]:
#calculate the percent by age bin
total_age_count=age_group["SN"].nunique()
total_age_count.head()

Age bin
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
Name: SN, dtype: int64

In [199]:
percent_age_bin = (total_age_count/num_players)*100
percent_age_bin.head()

Age bin
<10       2.951389
10-14     3.819444
15-19    18.576389
20-24    44.791667
25-29    13.368056
Name: SN, dtype: float64

In [200]:
age_bin_demographics = pd.DataFrame({"Percent of Players": percent_age_bin, "Total Count":total_age_count})
age_bin_demographics.head()
age_bin_demographics.style.format({"Percent of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

In [178]:
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
age_purchasing_analysis_count=age_group["Purchase ID"].count()
age_purchasing_analysis_count

Age bin
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
>40       13
Name: Purchase ID, dtype: int64

In [179]:
age_purchasing_analysis_avg=age_group["Price"].mean()
age_purchasing_analysis_avg

Age bin
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
>40      2.941538
Name: Price, dtype: float64

In [180]:
total_purchasing_analysis=age_group["Price"].sum()
total_purchasing_analysis

Age bin
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
>40        38.24
Name: Price, dtype: float64

In [181]:
av_purchasing_pperson=total_purchasing_analysis/total_age_count
av_purchasing_pperson

Age bin
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
>40      3.186667
dtype: float64

In [197]:
purchasing_analysis_age = pd.DataFrame({"Purchase Count": age_purchasing_analysis_count,
                                        "Average Purchase Price":age_purchasing_analysis_avg,
                                        "Total Purchase Value": total_purchasing_analysis,
                                        "Average Purchase Total per Person": av_purchasing_pperson})
purchasing_analysis_age.head()
purchasing_analysis_age.style.format({"Average Purchase Price":"${:,.2f}",
                                      "Total Purchase Value":"${:,.2f}",
                                      "Average Purchase Total per Person":"${:,.2f}"})

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [202]:
top_spenders = purchase_data.groupby("SN")
top_spenders.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age bin
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,>40
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [204]:
top_spender_count=top_spenders["Purchase ID"].count()
top_spender_count

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Purchase ID, Length: 576, dtype: int64

In [206]:
avg_top_spender = top_spenders["Price"].mean()
avg_top_spender

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Price, Length: 576, dtype: float64

In [210]:
top_spenders_total=top_spenders["Price"].sum()

In [230]:
top_spenders_analysis = pd.DataFrame({"Purchase Count": top_spender_count,
                                      "Average Purchase Price":avg_top_spender,
                                      "Total Purchase Value": top_spenders_total})
top_spenders_analysis.style.format({"Average Purchase Price":"${:,.2f}",
                                    "Total Purchase Value":"${:,.2f}",
                                    "Average Purchase Total per Person":"${:,.2f}"})
top_spenders_analysis.sort_values(["Total Purchase Value"], ascending=False)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10
...                     ...                     ...                   ...
Ililsasya43               1                1.020000                  1.02
Irilis75                  1                1.020000                  1.02
Aidai61                   1                1.010000                  1.01
Chanirra79                1                1.010000                  1.01
Alo38                     1                1.000000                  1.00

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [232]:
popular_items=purchase_data[["Item ID","Item Name", "Price"]]
popular_items

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
775       60                                       Wolf   3.54
776      164                           Exiled Doomblade   1.63
777       67      Celeste, Incarnation of the Corrupted   3.46
778       92                               Final Critic   4.19
779       50                                       Dawn   4.60

[780 rows x 3 columns]

In [238]:
items_group=popular_items.groupby(["Item ID","Item Name"])

In [243]:
item_purchase_count=items_group["Price"].count()
item_purchase_count

Item ID  Item Name
0        Splinter                                         4
1        Crucifer                                         4
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
                                                         ..
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: Price, Length: 179, dtype: int64

In [245]:
item_purchase_value=items_group["Price"].sum()
item_purchase_value

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                        11.77
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 179, dtype: float64

In [247]:
item_purchase_unit=item_purchase_value/item_purchase_count
item_purchase_unit

Item ID  Item Name
0        Splinter                                        1.2800
1        Crucifer                                        2.9425
2        Verdict                                         2.4800
3        Phantomlight                                    2.4900
4        Bloodlord's Fetish                              1.7000
                                                          ...
178      Oathbreaker, Last Hope of the Breaking Storm    4.2300
179      Wolf, Promise of the Moonwalker                 4.4800
181      Reaper's Toll                                   1.6600
182      Toothpick                                       4.0300
183      Dragon's Greatsword                             1.0900
Name: Price, Length: 179, dtype: float64

In [250]:
Popular_items_analysis = pd.DataFrame({"Purchase Count": item_purchase_count,
                                      "Item Price":item_purchase_unit,
                                      "Total Purchase Value": item_purchase_value})
Popular_items_analysis.style.format({"Average Purchase Price":"${:,.2f}",
                                    "Total Purchase Value":"${:,.2f}",
                                    "Average Purchase Total per Person":"${:,.2f}"})
Popular_items_analysis.sort_values(["Purchase Count"], ascending=False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

In [251]:
Popular_items_analysis.sort_values(["Total Purchase Value"], ascending=False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80